@import "../extra/mixin";

@media (max-width:480px) {
    .entrada{
        background-position: bottom;
        padding: 1rem;
    }
    .tienda{
        width: 10rem;
    }
    .tienda-general{
        margin-top: 1rem;
        @include flex(flex, column, center, center);
    }
    .cotizar-cero{
        display: none;
    }
    .cotizar{
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;
        margin-top: 1,5rem;
    }
    .vehiculos-hijo{
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .peugeot{
        margin-top: 2rem;
        width: 7rem;
    }
    .mercedes{
        margin-top: 2rem;
        width: 7rem;
    }
    .p-uno , .p-tres{
        display: none;
    }
}

@media (min-width:600px) and (max-width:1024px) {
    .tienda-general{
        @include flex(flex, column, center, center);
    }
    .peugeot{
        width: 380px;
    }
    .mercedes{
        width: 380px;
    }
    .cotizar-cero{
        display: none;
    }
    .cotizar{
        height: 50%;
        @include flex(flex, row, center, center);
    }
}